@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient: linear-gradient(
    180deg,
    rgb(0, 0, 0) 61%,
    rgba(61, 44, 115, 1) 92%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    height: 8px;
    border-radius: 5px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #56575573);
    border-radius: 8px;
  }
}

.bg-gradient {
  background-image: url("https://fmd-storage.s3.amazonaws.com/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
