@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient: linear-gradient(
    180deg,
    rgb(0, 0, 0) 61%,
    rgba(61, 44, 115, 1) 92%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    height: 8px;
    border-radius: 5px;
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #56575573);
    border-radius: 8px;
  }
}

.bg-gradient {
  background-image: url("https://fmd-storage.s3.us-east-1.amazonaws.com/Background.png?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXNhLWVhc3QtMSJGMEQCIGpEDwdKmy6%2FidFafxwWTwjPDoUvAQ7kDeogww0R7wC%2FAiBS9QNobRwe%2FYkUI5EFcdK%2B6V8cXV4JxKaql%2FMet4KIgSrxAgir%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDAzNzk2Mjg3NDcxNiIMrF2Wzrcf49VjeecQKsUCQPG4eGe80EsCEV%2F%2BBCg%2FbsPg%2BkC2qps%2BiBvWqLvNxrr9UNUNx4YJOK1eI0e%2B2PDxLbMqwwJTRGcgK5I51hepwczwMVTh9U%2F18RDI9%2FR%2FM94xxYpIq1SpVFzkycDG7wYuGJakfVPppIMQGzeKdjZIQvFDocpCj9OvDOvGg1OnhPTE4Q5dByiG%2B1giXNcoJ98Gd9bCrrIwdwV6%2FRTr4T554QoPizer5uS4P%2B0znLFnmPHhd1Ye3rNOSD91y7Dkrh6wGrDUrC2ZNDdfUF%2FkprPXxI3HzLDyf1Gm7y7TMTkfQeeTtYk9FDLFX9nZM55yiizhD%2Bz4FQuk8tEItdlNrxMX9pZZM9K4GQCTMYmmb59LwUEUMJfw%2BkswvmK6nrPUx5kNqCNoQzQ7z9GQYlwVQXnfHI9nFRtvghT87ab391IM0k0fv%2FWx%2BzDGtqmjBjq0ApDx9RHa0dE0CghKqX3qqBASweLVjo89sSLtxijqOfwz1MqsivfDFBA4zYKN7b%2FRq%2BpcCh2bEC0%2BHxEzUKOA%2BAbnQHsYW8yBfRaQ68dY5flZkVZfniP3g0LZ09Q8jklDgWW%2BRpnvtPN9kxTj3xM6IyLS8yi50K63%2FgXOObT2uNrwCc5QBcaXIQYJWA43Or6V7h67c3KevRcYdGBZSyJ3lM4XraAE1AXiowliFU0UTbcTjiI0nKZH%2B2Pe2FQQakFXX7sSHuApxSIZN4tpm3vWYA%2Fvh%2Fm1vgag2UinKR6Le%2FqDxPgqSo9rqJ0D1z%2FHG5ZCeMESmBQgLHzLvwAwdLNtIUkYpI5Hhc16xojcZPk1xfmkRl7baSzy3RJKaP%2F4zZ%2FosgNF%2BQIxQ%2FNiNG2CERwEtO0NboZe&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230521T191011Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAQRVWDP5OFIGAQ4UG%2F20230521%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=d944b71c9f4b163eb6e22ccb80d5e96048b3cd5f4631ac1ddd725e4d6fcda407");
  background-size: cover;
  background-repeat: no-repeat;
}
