.box-animation {
  background-color: #050505;
  position: relative;

  & span {
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: #050505;
    z-index: 1;
  }

  &:hover {
    background-color: rgb(124 58 237 / 1);
    transition: all 1s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      rgb(124 58 237 / 1)
    );
    animation: animate 4s linear infinite;
    animation-delay: -2s;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      rgb(124 58 237 / 1)
    );
    animation: animate 4s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
